* {
  box-sizing: border-box;
}

body {
  background-image: url("starry_sky.jpg");
  background-size: cover;
  text-align: center;
  font-family: 'Bangers', cursive;
  color: #FFC600;
}

h1 {
  font-size: 6em;
  margin-bottom: 0em;
}

#board {
  width: 50%;
  height: 45em;
  position: relative;
  color: #001D38;
}

#new_game {
  color: #00173C;
  width: 20%;
  font-size: 1.5em;
  border-radius: 1em;
  background-color: #F7FDF9;
  font-family: 'Bangers', cursive;
}

h2 {
  font-size: 2em;
  margin-bottom: 2em;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  margin-top: 5em;
  color: #F7FDF9;
}

a {
  color: #F7FDF9;
}

.card {
  width: 165px;
  height: 165px;
  position: absolute;
  border: solid black .1em;
  border-radius: 1em;
}

.back {
  background-color: #084359;
}

.back img {
  visibility: hidden;
}

.front {
  background-color: #F7FDF9;
  pointer-events: none;
}

.top {
  top: 10px;
}

.second_row {
  top: 185px;
}

.third_row {
  top: 360px;
}

.bottom {
  top: 535px;
}

.left {
 left: 10px;
}

.second_column {
  left: 185px
}

.third_column {
  left: 360px
}

.right {
  left: 535px;
}

img {
  position: absolute;
  height: 85%;
  top: 15%;
  right: 12%;
}

[alt^="Constellation"] {
  right: 7%;
}

[alt^="Spacesuit"] {
  right: 22%;
}
