* {
  box-sizing: border-box;
}

body {
  background-image: url("starry_sky.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Bangers', cursive;
}

main {
  position: relative;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  margin-top: 2em;
  color: #F7FDF9;
}

h1 {
  font-size: 4em;
  margin-bottom: 0em;
  color: #FFC600;
}

img {
  position: absolute;
  height: 85%;
  top: 15%;
  right: 12%;
}


a {
  color: #F7FDF9;
}

.card {
  width: 7em;
  height: 7em;
  position: absolute;
  border: solid black .1em;
  border-radius: 1em;
}

.back {
  background-color: #084359;
}

.back img {
  visibility: hidden;
}

.front {
  background-color: #F7FDF9;
  pointer-events: none;
}

.top {
  top: 1em;
}

.second_row {
  top: 8.5em;
}

.third_row {
  top: 16em;
}

.bottom {
  top: 23.5em;
}

.left {
 left: 1em;
}

.second_column {
  left: 8.5em
}

.third_column {
  left: 16em
}

.right {
  left: 23.5em;
}

[alt^="Constellation"] {
  right: 7%;
}

[alt^="Spacesuit"] {
  right: 22%;
}

#board {
  width: 32em;
  height: 32em;
  color: #001D38;
}

#new_game {
  color: #00173C;
  width: 20%;
  font-size: 1.4em;
  border-radius: .7em;
  background-color: #F7FDF9;
  font-family: 'Bangers', cursive;
}

#tagline {
  font-size: 2em;
  font-family: 'Bangers', cursive;
  color: #FFC600;
}
