* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Bangers', cursive;
  background-image: url("starry_sky.jpg");
  background-size: cover;
  color: #FFC600;
}

h1 {
  font-size: 96px;
  line-height: 7px;
}

h2 {
  font-size: 42px;
}

span {
  font-size: 135px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin-top: 100px;
  color: #F7FDF9;
}

a {
  color: #F7FDF9;
}

[id^="a"] {
  height: 160px;
  position: absolute;
  top: 15px;
  right: 12px;
}

[id^="b"] {
  height: 140px;
  position: absolute;
  top: 25px;
  right: 15px;
}

[id^="c"] {
  height: 140px;
  position: absolute;
  top: 25px;
  right: 5px;
}

[id^="d"] {
  height: 160px;
  position: absolute;
  top: 20px;
  right: 25px;
}

[id^="e"] {
  height: 160px;
  position: absolute;
  top: 20px;
  right: 15px;
}

[id^="f"] {
  height: 130px;
  position: absolute;
  top: 25px;
  right: 20px;
}

[id^="g"] {
  height: 150px;
  position: absolute;
  top: 25px;
  right: 15px;
}

[id^="h"] {
  height: 150px;
  position: absolute;
  top: 20px;
  right: 30px;
}

#new_game {
  color: #00173C;
  width: 150px;
  height: 50px;
  font-size: 24px;
  border-radius: 15px;
  background-color: white;
  font-family: 'Bangers', cursive;
}

#board {
  width: 740px;
  height: 740px;
  position: relative;
  margin: 0 auto;
  /*border: solid #797979 15px;*/
  color: #001D38;
  font-family: 'Roboto', sans-serif;
}

.card {
  width: 165px;
  height: 165px;
  position: absolute;
  border: solid black 2px;
  border-radius: 15px;
}

.back {
  background-color: #084359;
}

.back img {
  visibility: hidden;
}

.front {
  background-color: #F7FDF9;
  pointer-events: none;
}
.top {
  top: 10px;
}

.second_row {
  top: 185px;
}

.third_row {
  top: 360px;
}

.bottom {
  top: 535px;
}

.left {
 left: 10px;
}

.second_column {
  left: 185px
}

.third_column {
  left: 360px
}

.right {
  left: 535px;
}
